spring:
  application:
    name: commerce
  datasource:
    url: jdbc:mysql://localhost:3306/commerce_study
    username: study
    password: 1234
  jpa:
    show-sql: true
    properties:
      hibernate:
        use_sql_comments: true
        format_sql: true
        hbm2ddl:
          auto: create
